
.authors-wrapper{
   display: grid;

    align-items: center;
    border-style: solid;
    box-shadow: 3px 5px 10px black;
    margin: auto auto;
    margin-top: 50px;
    background-color:rgb(224, 251, 255);
    border-radius: 5px;

}
.authors-wrapper ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-content: center;
    
}