.page-header{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin-top: 0;
    padding: 1em;
}
.nav-list{
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-item{
    color: white;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;
    padding: 5px;

}
.nav-item:hover{
    color: aqua;
}
.page-header .nav-list a.active {
    background: rgb(35,21,249);
    background: linear-gradient(166deg, rgba(35,21,249,1) 0%, rgba(99,201,222,1) 100%);    
  }