.page-header{

    background-color: black;
    margin-top: 0;
    padding: 1em;
}
.nav-list{
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-item{
    color: white;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;
    padding: 5px;

}
.nav-item:hover{
    color: aqua;
}